@use './base/mixins' as mixins;

.footer {
    background-color: var(--text-color);
    color: var(--page-bg);
    padding: 80px 120px;

    @include mixins.mediaMobile {
        padding: 40px;
    }
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 128px;
    
    @include mixins.mediaMobile {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
    
// .footer__description {

// }

.footer__text {
    padding-top: 24px;
    max-width: 300px;
    font-weight: 450;
    font-size: 16px;

    line-height: 150%;
    letter-spacing: 0%;

}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    
    p {
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    li {
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 450;
        font-size: 16px;
        
    }

    a {
        color: var(--page-bg);
    }

    @include mixins.mediaMobile {
        gap: 20px;
        grid-row: -1/ 1;
    }
}

a:hover {
        color: var(--accent);
    }