@use "../base/mixins" as mixins;

.scroll-down {
    position: relative;
    // display: inline-block;
    // overflow: hidden;

    @media (max-width: 440px) {
        display: none;
    }
}

.scroll-down-text {
    position: absolute;
    content: '';
    bottom: 10px;
    right: 15.5px;

    // name duration timing-function deplay iteration-count direction fill-mode
    animation: rotation 10s linear 0s infinite running normal;

    @include mixins.mediaMobile () {
        bottom: -5px;
        right: 10px;
    }
}

.scroll-down-icon {
    position: absolute;
    content: '';
    right: 7%;
    bottom: 7%;
    transform: translate(-50%, -50%);

    @include mixins.mediaMobile () {
        bottom: -10px;
        right: 6%;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}