<div class="swiper-slide">
    <div class="testimonial-card">
        <div class="testimonial-card__reting">
            <!-- Каждый объект с информацией о пользователе, который мы передаем через массив в файле json 
            - это и есть context -->
            @@for (let i = 0; i < context.stars; i++) {
                <img src="./../../../img/logo/star-small.svg" alt="star">
            }

            @@if (context.stars < 5) {
                @@for (let i = 0; i < 5 - context.stars; i++) {
                    <img src="./../../../img/logo/star-off.svg" alt="star-off">
                }
            }
        </div>
        <p class="testimonial-card__text">
            "@@text"
        </p>
        <div class="testimonial-card__author">
            <img class="testimonial-card__author-img" src="@@avatar" alt="Avatar">
            <div class="testimonial-card__author-info">
                <p class="testimonial-card__author-name">@@name</p> 
                <p class="testimonial-card__author-role">@@role</p>
            </div>
        </div>
    </div>
</div>